/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/osa05/Osa05_04.MaksukorttiJaKassapaate/nbproject/private/
/laskarit/viikko2/osa05/Osa05_04.MaksukorttiJaKassapaate/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
Muistipeli/target
/Muistipeli/nbproject/